/* 
Reset
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Palett colori
*/
:root {
    --header-color:#0084FD;
    --text-color-1:#5D7183;
    --text-color-2:#F2F9FF;
    --text-color-3:#7A7A7A;
    --bg-color-blue:#B5DDFF;
    --bg-color-violet:#9792E4;
    --text-color-free:#FDC15F;
    --bg-color-footer:#333333;
}

/* 
General
*/
body {
    font-family: "PT Sans", sans-serif;
}
/* 
Start
*/

#nav-bar {
    background-color: var(--header-color);
    padding: 10px 0;
    font-size: 14px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    cursor: pointer;
    border-radius: 60px;
}

.flex {
    display: flex;
    gap: 12px;
}

a, 
.logo{
    display: inline-block;
}

#nav-bar .flex {
    justify-content: space-between;
    align-items: center;
}

#nav-bar .flex ul > li {
    list-style: none;
}

#nav-bar .flex ul > li a {
    text-decoration:none;
    color: var(--text-color-2);
}

#nav-bar .flex ul > li a.btn {
    background-color: var(--text-color-2);
    color: black;
    padding: 5px;
    font-weight: 400;
}

.toggle-bar {
    display: none;
}

/*
Griglia 
*/

#grid .flex {
    flex-wrap: wrap;
}

.w-30 {
    width: calc((100% - 24px) / 3);
    flex-shrink: 0;
    border-radius: 20px;
    padding: 25px;
}

.w-70 {
    width: calc(((100% - 24px ) / 3 ) * 2 + 12px );
    flex-shrink: 0;
    border-radius: 20px;
    padding: 25px 25px 0;
}

.col-50 {
    width: calc((100% / 2) - 12px);
    height: 15rem;
}

.row {
    margin: 12px 0;
}

.image {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

#grid .container .row .w-70 a.btn {
    background-color: var(--header-color);
    color: var(--text-color-2);
    padding: 8px 48px;
    font-weight: bold;
}

#grid .container .row .w-70 a {
    margin-top: 40px;
    text-decoration: none;
}

#grid .container h3 {
    color: var(--header-color);
    margin-bottom: 20px;
}

#grid .container p {
    color: var(--text-color-1);
    font-weight: bold;
}

#grid .container .row .w-70,
#grid .container .row .w-30 {
    background-color: var(--bg-color-blue);
    overflow: hidden;
}

#grid .container .row .w-30 i {
    color: var(--header-color);
    font-size: 80px;
    margin: 10px;
}

/* 
Media query 
*/

@media screen and (max-width: 576px){
    .toggle-bar {
        display: inline-block;
    }
    .nav-links {
        display: none;
    }
}

@media screen and (max-width: 992px){
    .toggle-bar {
        display: inline-block;
    }
    .nav-links {
        display: none;
    }
}