/* 
Reset
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
Palett colori
*/
:root {
    --header-color:#0084FD;
    --text-color-1:#5D7183;
    --text-color-2:#F2F9FF;
    --text-color-3:#7A7A7A;
    --bg-color-blue:#B5DDFF;
    --bg-color-violet:#9792E4;
    --text-color-free:#FDC15F;
    --bg-color-footer:#333333;
}

/* 
General
*/
body {
    font-family: "PT Sans", sans-serif;
}
/* 
Start
*/

#nav-bar {
    background-color: var(--header-color);
    padding: 10px 0;
    font-size: 14px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.btn {
    cursor: pointer;
    border-radius: 60px;
}

.flex {
    display: flex;
    gap: 12px;
}

a, 
.logo{
    display: inline-block;
}

#nav-bar .flex {
    justify-content: space-between;
    align-items: center;
}

#nav-bar .flex ul > li {
    list-style: none;
}

#nav-bar .flex ul > li a {
    text-decoration:none;
    color: var(--text-color-2);
}

#nav-bar .flex ul > li a.btn {
    background-color: var(--text-color-2);
    color: black;
    padding: 5px;
    font-weight: 400;
}

.toggle-bar {
    display: none;
    color: var(--text-color-2);
}

/*
Griglia 
*/

#grid .flex {
    flex-wrap: wrap;
}

.w-30 {
    width: calc((100% - 24px) / 3);
    flex-shrink: 0;
    border-radius: 20px;
    padding: 25px;
}

.w-70 {
    width: calc(((100% - 24px ) / 3 ) * 2 + 12px );
    flex-shrink: 0;
    border-radius: 20px;
    padding: 25px 25px 0;
}

.col-50 {
    width: calc((100% / 2) - 12px);
}

.row {
    margin: 12px 0;
}

.image {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

#grid .container .row .w-70 a.btn {
    background-color: var(--header-color);
    color: var(--text-color-2);
    padding: 8px 48px;
    font-weight: bold;
}

#grid .container .row .w-70 a {
    margin-top: 40px;
    text-decoration: none;
}

#grid .container h3 {
    color: var(--header-color);
    margin-bottom: 20px;
}

#grid .container p {
    color: var(--text-color-1);
    font-weight: bold;
}

#grid .container .row .w-70,
#grid .container .row .w-30 {
    background-color: var(--bg-color-blue);
    overflow: hidden;
}

#grid .container .row .w-30 i {
    color: var(--header-color);
    font-size: 80px;
    margin: 10px;
}

/* 
Planning section
*/

#planning {
    background-color: var(--bg-color-violet);
}

#planning .container .col-50 h2 {
    padding: 150px 0 50px;
}

#planning .container .col-50:first-child {
    color: var(--text-color-2);
    margin: 0 0 0 100px;
    padding: 20px;
}

#planning .container.flex {
    align-items: end;
    gap: 40px;
    padding-bottom: 40px;
}

#planning .container .col-50:last-child {
    color: black;
    background-color: var(--text-color-2);
    padding: 40px;
    border-radius: 50px;
}

#planning .container div.col-50 {
    width: 50%;
}

#planning .container .col-50:last-child .image {
    margin-bottom: 24px;
    width: 70%;
    margin: 0 auto;
}

#planning .container .col-50:last-child .box-text h3,
#planning .container .col-50:last-child .box-text p {
    margin-bottom: 24px;
}

#planning .container .col-50 .box-text i {
    background-color: var(--bg-color-violet);
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
}

/* 
Media query 
*/

@media screen and (max-width: 576px){
    .toggle-bar {
        display: inline-block;
    }
    .nav-links {
        display: none;
    }
    .w-70, .w-30 {
        width: 100%;
    }
    .image {
        height: auto;
    }
    .row {
        margin: 15px 0;
    }
}

@media screen and (max-width: 992px){
    .container {
        max-width: 960px;
        margin: 0 auto;
    }
    .toggle-bar {
        display: inline-block;
        font-size: 30px;
    }
    .nav-links {
        display: none;
    }
    .col-50 {
        width: 100%;
        height: auto;
    }
    .row {
        margin: 20px 0;
    }

    /* 
    Planning
    */

    #planning .flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    #planning .container.flex .col-50 {
        width: 100%;
    }

    #planning .container.flex .col-50:first-child,
    #planning .container.flex .col-50:last-child {
        margin: 0;
    }

    #planning .container.flex .col-50:first-child img,
    #planning .container.flex .col-50:first-child .box-text > p {
        margin: 0;
    }
}